<div>
  <div class="header">
    <h1><a href="https://research.csiro.au/eyeonwater/">EyeOnWater: Australia</a> - WFS Viewer</h1>

    <div class="sub-header box-shadow">
      <div class="sub-header-stats"></div>
    </div>
  </div>
  <div class="main-container">


    <div id="map" class="map"></div>
    <div class="panel left-panel box-shadow">
      <div class="pull-tab"></div>
      <div class="panel-body">
        <button id="clearFilterButton" class="hidden"> Clear</button>
        <h3>Most Active Users</h3>
        <hr>
        <div class="user-list">
          <ul class="item-container">

          </ul>
        </div>
      </div>
    </div>
    <div class="panel right-panel box-shadow">
      <div class="pull-tab"></div>
      <div class="panel-body">
        <h3>Recent measurements</h3>
        <hr>
        <div class="measurement-list">
          <ul class="item-container">
          </ul>
        </div>
      </div>
    </div>
    <div #popup id="popup" class="box-shadow">
      <div class="title">
        Measurement details:
        <div class="close"></div>
      </div>
      <div class="stats"></div>
      <div class="content"></div>
    </div>
    <div id="pieChart" class="box-shadow">
      <div class="title">
        FU:
        <div class="close"></div>
      </div>
    </div>
  </div>
</div>
